body {
  background-color: #eaf6f6;
}

hr {
  border-color: lightgray;
  border-style: dotted none none;
  /* These are equivalent */
  /* border-left-style: none;
    border-right-style: none;
    border-bottom-style: none; */
  border-width: 5px;
  width: 4%;
}

h1, h3 {
    color: #66bfbf
}
